{% extends 'user/base.html' %}
{% load static %}

{% block title %}Thay đổi mật khẩu{% endblock %}
{% block page_actions %}Thay đổi mật khẩu{% endblock %}

{% block styles %}

{% endblock %}

{% block scripts %}
<script>
</script>
{% endblock %}

{% block content %}
<div class="box box-success">
    <form action="{% url 'user:change_password' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="device_id" value="{{device_id}}" class="form-control" />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="old_password">Mật khẩu hiện tại</label>
                    <input type="password" name="old_password" class="form-control" value="{{old_password}}" required/>
                    {% if error_old_password %} <span style="color: red;"><sub><i>*{{error_old_password}}</i></sub>{% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="new_password">Mật khẩu mới</label>
                    <input type="password" name="new_password" class="form-control" required/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="confirm_new_password">Xác nhận mật khẩu mới</label>
                    <input type="password" name="confirm_new_password" class="form-control" required/>
                    {% if error_confirm_new_password %} <span style="color: red;"><sub><i>*{{error_confirm_new_password}}</i></sub>{% endif %}
                </div>
            </div>
        </div>
        
        <button type="submit" class="btn btn-primary" name="action" value="save">Thay đổi mật khẩu</button>
    </form>
</div>
{% endblock %}